@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
* {
	padding : 0;
	margin : 0;
	font-family : "맑은 고딕";
}
body {
	width : 100%;
	height : 100%;
	background-image : url("../img/main_bg.jpg");
	background-repeat : no-repeat;
	background-size : cover;
}
.container {
	width : 500px;
	background-color : #fff;
	border-radius : 20px;
	margin : 10% auto;
	padding : 20px;
	box-shadow : 0px 0px 10px #000;
}
/* 로그인 타이틀 */
header {
	width : 100%;
	height : 70px;
	margin-bottom : 10px;
	line-height : 80px;
}
header > p {
	font-size : 40px;
	font-family: 'Black Han Sans', sans-serif;
	color : rgb(237, 49, 36);
	text-align : center;
}
/* 회원가입 폼 */
section {
	width : 100%;
	margin-bottom : 10px;
}
section h1 {
	text-align : center;
	padding : 10px 0px;
}
section form div {
	width : 70%;
	height : 34px;
	margin : 10px auto;
	position : relative;
	margin-bottom : 20px;
}
section form div input {
	width : 100%;
	height : 100%;
	border : none;
	border-bottom : 1px solid #ccc;
}
section form div label {
	position : absolute;
	top : -14px;
	left : 4px;
	font-size : 12px;
}
section form button {
	width : 40%;
	height : 30px;
	background-color : rgb(237, 49, 36);
	border : none;
	border-radius : 20px;
	margin-top : 10px;
	color : #fff;
}
section button:first-child {
	float : left;
}
section button:last-child {
	float : right;
}
section form div button:hover {
	box-shadow : 0px 0px 3px #000;
	cursor : pointer;
}
section form div input:hover {
	border-bottom : 3px solid #ccc;
}