@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
* {
	padding : 0;
	margin : 0;
	font-family : "맑은 고딕";
}
ul li {
	list-style-type : none;
}
a {
	text-decoration : none;
}
body {
	width : 100%;
	height : 100%;
	background-image : url("../img/main_bg.jpg");
	background-repeat : no-repeat;
	background-size : cover;
	background-color : #000;
	background-position : center;
}
div.reserve {
	right : 0px;
	bottom : 20px;
	width : 170px;
	height : 50px;
	background-color : rgb(237, 49, 36);
	position : fixed;
	border-radius : 10px 0px 0px 10px;
	text-align : center;
	z-index : 10;
}
div.reserve i {
	font-size : 22px;
	line-height : 50px;
}
div.reserve a {
	color : #fff;
}
.container {
	width : 1200px;
	background-color : #fff;
	margin : 40px auto;
	border-radius : 20px;
	padding : 20px;
	box-shadow : 0px 0px 10px #000;
}
/* 헤더 영역 */
header {
	width : 100%;
	height : 120px;
	position : relative;
	margin-bottom : 10px;
	border-bottom : 1px solid rgb(237, 49, 36);
}
header > a {
	position : absolute;
	left : 20px;
	line-height : 130px;
	font-family: 'Black Han Sans', sans-serif;
	color : rgb(237, 49, 36);
	font-size : 50px;
}
header > ul.top-menu {
	position : absolute;
	right : 10px;
	top : 10px;
}
header > ul.top-menu > li {
	display : inline-block;
	width : 100px;
	text-align : center;
	border-left : 1px solid #ccc;
}
header > ul.top-menu > li:first-child {
	border : none;
}
header > ul.top-menu > li > a {
	color : #555;
	font-style : italic;
}
/* 네비게이션 영역 */
nav {
	width : 100%;
	height : 60px;
	line-height : 50px;
	margin-bottom : 10px;
	border-bottom : 1px solid rgb(237, 49, 36);
}
ul.main-menu > li {
	display : inline-block;
	margin-left : 50px;
}
ul.main-menu > li > a {
	font-size : 18px;
	color : #555;
	transition : all 0.3s;
}
ul.main-menu > li > a:hover {
	font-size : 19px;
	font-weight : 700;
}
/* 섹션 및 아티클 영역 */
section {
	width : 100%;
	margin-bottom : 10px;
}
section article.order {
	width : 100%;
}
section article.order h2 {
	padding : 30px;
	font-style : italic;
}
section article.order form div {
	width : 80%;
	height : 80px;
	margin : 20px auto;
	position : relative;
}
section article.order form div label {
	display : inline-block;
	width : 130px;
	height : 20px;
	position : absolute;
	top : 10px;
	left : 20px;
	font-size : 14px;
	color : #555;
}
section article.order form div.request select {
	width : 30%;
	height : 40px;
	box-sizing : border-box;
	position : absolute;
	bottom : 10px;
	right : 100px;
	transition : all 0.3s;
}
section article.order form div.request select:hover {
	box-shadow : 0px 0px 3px #000;
}
section article.order form div input[type=text] {
	width : 70%;
	height : 40px;
	box-sizing : border-box;
	position : absolute;
	bottom : 10px;
	left : 30px;
	border : none;
	border-bottom : 1px solid #ccc;
	transition : all 0.3s;
}
section article.order form div input[type=text]:hover {
	box-shadow : 0px 0px 3px #000;
}
section article.order form div.product {
	width : 80%;
	height : 300px;
	margin : 20px auto;
	position : relative;
}
section article.order form div.product img {
	width : 230px;
	height : 200px;
	position : absolute;
	bottom : 50px;
	left : 40px;
}
section article.order form div.product div {
	width : 70%;
	height : 200px;
	position : absolute;
	right : 0px;
	top : 30px;
}
section article.order form div.product label {
	width : auto;
}
section article.order form div.product div p {
	padding : 16px;
}
section article.order form div.product div span {
	padding : 16px;
}
section article.order form div.product div select {
	width : 150px;
	height : 30px;
	transition : all 0.3s;
}
section article.order form div.product div select:hover {
	transform : scale(1.01);
}
section article.order form div.but {
	height : 40px;
	text-align : right;
}
section article.order form div.but input[type=button] {
	width : 100px;
	height : 30px;
	margin-top : 5px;
	margin-right : 10px;
	background-color : rgb(237, 49, 36);
	color : #fff;
	border : none;
	border-radius : 10px;
	transition : all 0.3s;
}
section article.order form div.but input[type=button]:hover {
	box-shadow : 0px 0px 5px #222;
}
/* 푸터 영역 */
footer {
	width : 100%;
	height : 110px;
	border-top : 1px solid rgb(237, 49, 36);
	position : relative;
}
footer ul.contact {
	width : 50%;
	height : 40px;
	line-height : 40px;
	position : absolute;
	right : 0;
	top : 0;
	text-align : right;
}
footer ul.contact li {
	display : inline-block;
	width : 120px;
	text-align : center;
	margin-right : 10px;
}
footer ul.contact li i {
	font-size : 20px;
}
footer ul.contact li a {
	color : #555;
	font-weight : 700;
}
footer p {
	margin-top : 14px;
	color : #555;
	text-indent : 30px;
}
