@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
* {
	padding : 0;
	margin : 0;
	font-family : "맑은 고딕";
}
ul li {
	list-style-type : none;
}
a {
	text-decoration : none;
}
body {
	width : 100%;
	height : 100%;
	background-image : url("../img/main_bg.jpg");
	background-repeat : no-repeat;
	background-size : cover;
	background-color : #000;
	background-position : center;
}
.container {
	width : 1200px;
	background-color : #fff;
	margin : 40px auto;
	border-radius : 20px;
	padding : 20px;
	box-shadow : 0px 0px 10px #000;
}
/* 헤더 영역 */
header {
	width : 100%;
	height : 120px;
	position : relative;
	margin-bottom : 10px;
	border-bottom : 1px solid rgb(237, 49, 36);
}
header > a {
	position : absolute;
	left : 20px;
	line-height : 130px;
	font-family: 'Black Han Sans', sans-serif;
	color : rgb(237, 49, 36);
	font-size : 50px;
}
header > ul.top-menu {
	position : absolute;
	right : 10px;
	top : 10px;
}
header > ul.top-menu > li {
	display : inline-block;
	width : 100px;
	text-align : center;
	border-left : 1px solid #ccc;
}
header > ul.top-menu > li:first-child {
	border : none;
}
header > ul.top-menu > li > a {
	color : #555;
	font-style : italic;
}
/* 네비게이션 영역 */
nav {
	width : 100%;
	height : 60px;
	line-height : 50px;
	margin-bottom : 10px;
	border-bottom : 1px solid rgb(237, 49, 36);
}
ul.main-menu > li {
	display : inline-block;
	margin-left : 50px;
}
ul.main-menu > li > a {
	font-size : 18px;
	color : #555;
	transition : all 0.3s;
}
ul.main-menu > li > a:hover {
	font-size : 19px;
	font-weight : 700;
}
/* 섹션 및 아티클 영역 */
section {
	width : 100%;
	height : 700px;
	margin-bottom : 10px;
}
section form article {
	box-sizing : border-box;
	float : left;
	position : relative;
	background-color : rgb(235, 235, 235);
}
section form article h2 {
	width : 100%;
	height : 40px;
	background-color : rgb(070, 070, 070);
	color : #fff;
	text-align : center;
	position : absolute;
	top : 0px;
	font-size : 20px;
	line-height : 40px;
}
section form article.movie {
	width : 340px;
	margin-right : 10px;
	height : 700px;
}
article.movie ul {
	position : absolute;
	top : 40px;
	width : 100%;
}
article.movie ul li input[type=radio] {
	display : none;
}
article.movie ul li label {
	display : block;
	width : 100%;
	height : 60px;
	box-sizing : border-box;
	line-height : 60px;
	text-indent : 10px;
	transition : all 0.3s;
}
article.movie ul li label:hover {
	background-color : rgb(128, 128, 128);
	opacity : 0.8;
	transform : scale(1.1);
	color : #fff;
}
article.movie ul li input[type=radio]:checked + label {
	background-color : rgb(128, 128, 128);
	color : #fff;
}
section form article.time {
	width : 240px;
	margin-right : 10px;
	height : 700px;
}
section form article.time ul {
	position : absolute;
	width : 100%;
	top : 40px;
}
section form article.time ul li input[type=radio] {
	display : none;
}
article.time ul li input[type=radio]:checked + label {
	background-color : rgb(128, 128, 128);
	color : #fff;
}
article.time ul li label {
	display : block;
	box-sizing : border-box;
	width : 100%;
	height : 50px;
	line-height : 50px;
	text-indent : 10px;
	transition : all 0.3s;
}
article.time ul li label:hover {
	background-color : rgb(128, 128, 128);
	opacity : 0.8;
	transform : scale(1.1);
	color : #fff;
}
section form article.position {
	width : 600px;
	height : 700px;
}
article.position div.state {
	width : 100%;
	position : absolute;
	top : 40px;
	height : 60px;
	box-sizing : border-box;
	text-align : center;
}
article.position div.state div {
	display : inline-block;
	width : 150px;
	height : 40px;
	box-sizing : border-box;
	margin-top : 10px;
	margin-right : 14px;
	position : relative;
}
article.position div.state div div {
	position : absolute;
	box-sizing : border-box;
	bottom : 4px;
	left : 10px;
	width : 30px;
	height : 30px;
	border-radius : 10px 10px 0px 0px;
}
article.position div.state div:nth-of-type(1) div {
	background-color : #222;
}
article.position div.state div:nth-of-type(2) div {
	background-color : red;
}
article.position div.state div:nth-of-type(3) div {
	background-color : #ddd;
}
article.position div.state div span {
	position : absolute;
	top : 8px;
	right : 20px;
}
article.position div.choice {
	width : 100%;
	position : absolute;
	top : 100px;
	box-sizing : border-box;
	height : 600px;
	text-align : center;
}
.show {
	display : none;
}
article.position div.choice div.screen {
	width : 70%;
	height : 30px;
	background-color : #eee;
	margin : 30px auto;
	margin-bottom : 50px;
	text-align : center;
	line-height : 30px;
	font-weight : 700;
	border : 0.5px solid #222;
}
article.position div.choice input[type=checkbox] {
	display : none;
}
article.position div.choice label {
	display : inline-block;
	box-sizing : border-box;
	width : 30px;
	height : 30px;
	background-color : #eee;
	border-radius : 10px 10px 0px 0px;
	margin : 10px;
	transition : all 0.3s;
	color : #000;
	line-height : 30px;
	font-weight : 700;
	border : 0.5px solid #222;
}
article.position div.choice label:hover {
	background-color : red;
	color : #fff;
}
article.position div.choice input[type=checkbox]:checked + label {
	background-color : red;
	color : #fff;
}
article.position div.choice input[type=checkbox]:disabled + label {
	background-color : #222;
	color : #fff;
}
article.position div.choice p {
	width : 100%;
	height : 30px;
	text-align : center;
	margin-bottom : 10px;
	margin-top : 10px;
}
article.position div.choice input[type=button] {
	width : 60%;
	height : 30px;
	background-color : rgb(237, 49, 36);
	margin : 0px auto;
	border : none;
	border-radius : 10px;
	color : #fff;
}
article.position div.choice input[type=button]:hover {
	transform : scale(1.1);
}
/* 푸터 영역 */
footer {
	width : 100%;
	height : 110px;
	border-top : 1px solid rgb(237, 49, 36);
	position : relative;
}
footer ul.contact {
	width : 50%;
	height : 40px;
	line-height : 40px;
	position : absolute;
	right : 0;
	top : 0;
	text-align : right;
}
footer ul.contact li {
	display : inline-block;
	width : 120px;
	text-align : center;
	margin-right : 10px;
}
footer ul.contact li i {
	font-size : 20px;
}
footer ul.contact li a {
	color : #555;
	font-weight : 700;
}
footer p {
	margin-top : 14px;
	color : #555;
	text-indent : 30px;
}