@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
* {
	padding : 0;
	margin : 0;
	font-family : "맑은 고딕";
}
ul li {
	list-style-type : none;
}
a {
	text-decoration : none;
}
body {
	width : 100%;
	height : 100%;
	background-image : url("../img/main_bg.jpg");
	background-repeat : no-repeat;
	background-size : cover;
	background-color : #000;
	background-position : center;
}
div.reserve {
	right : 0px;
	bottom : 20px;
	width : 170px;
	height : 50px;
	background-color : rgb(237, 49, 36);
	position : fixed;
	border-radius : 10px 0px 0px 10px;
	text-align : center;
	z-index : 10;
}
div.reserve i {
	font-size : 22px;
	line-height : 50px;
}
div.reserve a {
	color : #fff;
}
.container {
	width : 1200px;
	background-color : #fff;
	margin : 40px auto;
	border-radius : 20px;
	padding : 20px;
	box-shadow : 0px 0px 10px #000;
}
/* 헤더 영역 */
header {
	width : 100%;
	height : 120px;
	position : relative;
	margin-bottom : 10px;
	border-bottom : 1px solid rgb(237, 49, 36);
}
header > a {
	position : absolute;
	left : 20px;
	line-height : 130px;
	font-family: 'Black Han Sans', sans-serif;
	color : rgb(237, 49, 36);
	font-size : 50px;
}
header > ul.top-menu {
	position : absolute;
	right : 10px;
	top : 10px;
}
header > ul.top-menu > li {
	display : inline-block;
	width : 100px;
	text-align : center;
	border-left : 1px solid #ccc;
}
header > ul.top-menu > li:first-child {
	border : none;
}
header > ul.top-menu > li > a {
	color : #555;
	font-style : italic;
}
/* 네비게이션 영역 */
nav {
	width : 100%;
	height : 60px;
	line-height : 50px;
	margin-bottom : 10px;
	border-bottom : 1px solid rgb(237, 49, 36);
}
ul.main-menu > li {
	display : inline-block;
	margin-left : 50px;
}
ul.main-menu > li > a {
	font-size : 18px;
	color : #555;
	transition : all 0.3s;
}
ul.main-menu > li > a:hover {
	font-size : 19px;
	font-weight : 700;
}
/* 섹션 및 아티클 영역 */
section {
	width : 100%;
	margin-bottom : 10px;
}
section article {
	width : 100%;
	border : 1px solid #ccc;
	transition : all 0.3s;
	position : relative;
}
section article a {
	color : #555;
	text-decoration : underline;
}
section article a:nth-of-type(1) {
	position : absolute;
	bottom : 20px;
	right : 120px;
}
section article a:nth-of-type(2) {
	position : absolute;
	bottom : 20px;
	right : 20px;
}
section article.m_info {
	width : 100%;
	height : 340px;
	position : relative;
}
section article.m_info > h2 {
	position : absolute;
	top : 20px;
	left : 20px;
	font-style : italic;
	color : rgb(237, 49, 36);
}
section article.m_info img {
	width : 180px;
	height : 220px;
	position : absolute;
	top : 70px;
	left : 50px;
	border-radius : 10px;
}
section article.m_info > p {
	width : 250px;
	text-align : center;
	position : absolute;
	bottom : 10px;
	left : 20px;
	font-weight : 700;
}
section article.m_info div {
	width : 70%;
	position : absolute;
	left : 300px;
	top : 70px;
}
section article.m_info div p {
	padding : 16px;
	color : #555;
	font-size : 16px;
}
section article.p_info {
	width : 100%;
	height : 340px;
	position : relative;
}
section article.p_info > h2 {
	position : absolute;
	top : 20px;
	left : 20px;
	font-style : italic;
	color : rgb(237, 49, 36);
}
section article.p_info img {
	width : 200px;
	height : 220px;
	position : absolute;
	left : 40px;
	top : 70px;
	border-radius : 10px;
}
section article.p_info div {
	width : 70%;
	position : absolute;
	top : 80px;
	left : 280px;
}
section article.p_info div p {
	padding : 14px;
	color : #555;
}
section article.info {
	width : 100%;
	height : 300px;
	position : relative;
}
section article.info > h2 {
	position : absolute;
	top : 20px;
	left : 20px;
	font-style : italic;
	color : rgb(237, 49, 36);
}
section article.info i {
	font-size : 150px;
	position : absolute;
	top : 80px;
	left : 100px;
}
section article.info div {
	width : 70%;
	position : absolute;
	top : 30px;
	left : 300px;
}
section article.info div p {
	padding : 10px;
	color : #555;
}
/* 푸터 영역 */
footer {
	width : 100%;
	height : 110px;
	border-top : 1px solid rgb(237, 49, 36);
	position : relative;
}
footer ul.contact {
	width : 50%;
	height : 40px;
	line-height : 40px;
	position : absolute;
	right : 0;
	top : 0;
	text-align : right;
}
footer ul.contact li {
	display : inline-block;
	width : 120px;
	text-align : center;
	margin-right : 10px;
}
footer ul.contact li i {
	font-size : 20px;
}
footer ul.contact li a {
	color : #555;
	font-weight : 700;
}
footer p {
	margin-top : 14px;
	color : #555;
	text-indent : 30px;
}
