@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
* {
	padding : 0;
	margin : 0;
	font-family : "맑은 고딕";
}
ul li {
	list-style-type : none;
}
a {
	text-decoration : none;
}
body {
	width : 100%;
	height : 100%;
	background-image : url("../img/main_bg.jpg");
	background-repeat : no-repeat;
	background-size : cover;
	background-color : #000;
	background-position : center;
}
div.reserve {
	right : 0px;
	bottom : 20px;
	width : 170px;
	height : 50px;
	background-color : rgb(237, 49, 36);
	position : fixed;
	border-radius : 10px 0px 0px 10px;
	text-align : center;
	z-index : 10;
}
div.reserve i {
	font-size : 22px;
	line-height : 50px;
}
div.reserve a {
	color : #fff;
}
.container {
	width : 1200px;
	background-color : #fff;
	margin : 40px auto;
	border-radius : 20px;
	padding : 20px;
	box-shadow : 0px 0px 10px #000;
}
/* 헤더 영역 */
header {
	width : 100%;
	height : 120px;
	position : relative;
	margin-bottom : 10px;
	border-bottom : 1px solid rgb(237, 49, 36);
}
header > a {
	position : absolute;
	left : 20px;
	line-height : 130px;
	font-family: 'Black Han Sans', sans-serif;
	color : rgb(237, 49, 36);
	font-size : 50px;
}
header > ul.top-menu {
	position : absolute;
	right : 10px;
	top : 10px;
}
header > ul.top-menu > li {
	display : inline-block;
	width : 100px;
	text-align : center;
	border-left : 1px solid #ccc;
}
header > ul.top-menu > li:first-child {
	border : none;
}
header > ul.top-menu > li > a {
	color : #555;
	font-style : italic;
}
/* 네비게이션 영역 */
nav {
	width : 100%;
	height : 60px;
	line-height : 50px;
	margin-bottom : 10px;
	border-bottom : 1px solid rgb(237, 49, 36);
}
ul.main-menu > li {
	display : inline-block;
	margin-left : 50px;
}
ul.main-menu > li > a {
	font-size : 18px;
	color : #555;
	transition : all 0.3s;
}
ul.main-menu > li > a:hover {
	font-size : 19px;
	font-weight : 700;
}
/* 섹션 및 아티클 영역 */
section {
	width : 100%;
	margin-bottom : 10px;
}
section article.preview {
	width : 100%;
	height : 500px;
	position : relative;
	margin-bottom : 10px;
}
section article.preview video {
	width : 100%;
	height : 100%;
	object-fit : cover;
}
section article.preview p {
	font-size : 20px;
	color : #fff;
	position : absolute;
	left : 30px;
	top : 50px;
	opacity : 0.5;
}
section article.preview p span {
	font-weight : 700;
	opacity : 1;
	font-size : 30px;
}
/* 영화 랭킹 영역 */
section article.rank {
	width : 100%;
	height : 300px;
	padding-bottom : 10px;
	margin-bottom : 10px;
	border-bottom : 1px solid rgb(237, 49, 36);
}
section article.rank h2 {
	padding : 20px;
	margin-bottom : 10px;
}
section article.rank h2 a {
	color : rgb(237, 49, 36);
}
section article.rank ul li {
	width : 150px;
	height : 200px;
	display : inline-block;
	margin-left : 50px;
	text-align : center;
	position : relative;
}
section article.rank li img {
	width : 90%;
	height : 90%;
	border-radius : 10px;
	transition : all 0.5s;
	margin-bottom : 10px;
}
section article.rank ul li a.link {
	width : 80px;
	height : 30px;
	display : block;
	position : absolute;
	border : none;
	border-radius : 10px;
	opacity : 0;
	visibiliy : hidden;
	transition : all 0.5s;
	line-height : 30px;
}
section article.rank ul li a.link:nth-of-type(1) {
	background-color : #eee;
	top : 30%;
	left : 35px;
	color : #555;
}
section article.rank ul li a.link:nth-of-type(2) {
	background-color : rgb(237, 49, 36);
	top : 50%;
	left : 35px;
	color : #fff;
}
section article.rank ul li img:hover, section article.rank ul li a.link:hover {
	transform : scale(1.05);
	opacity : 0.9;
}
section article.rank ul li img:hover ~ a.link {
	opacity : 0.8;
	visibility : visible;
}
section article.rank ul li a {W
	color : #555;
}
section article.rank ul li span:last-child {
	position : absolute;
	color : #eee;
	bottom : 20px;
	left : 15px;
	z-index : 10;
	font-size : 50px;
	font-style : italic;
	font-shadow : 3px 3px 20px #000;
}
/* 이벤트 영역 */
section article.event {
	width : 100%;
	height : 250px;
}
section article.event h2 {
	padding : 20px;
	color : rgb(237, 49, 36);
}
section article.event h2 a {
	color : rgb(237, 49, 36);
}
section article.event ul li {
	margin-left : 50px;
	margin-bottom : 10px;
}
section article.event ul li a {
	color : #555;
	text-decoration : underline;
	font-style : italic;
}
/* 푸터 영역 */
footer {
	width : 100%;
	height : 110px;
	border-top : 1px solid rgb(237, 49, 36);
	position : relative;
}
footer ul.contact {
	width : 50%;
	height : 40px;
	line-height : 40px;
	position : absolute;
	right : 0;
	top : 0;
	text-align : right;
}
footer ul.contact li {
	display : inline-block;
	width : 120px;
	text-align : center;
	margin-right : 10px;
}
footer ul.contact li i {
	font-size : 20px;
}
footer ul.contact li a {
	color : #555;
	font-weight : 700;
}
footer p {
	margin-top : 14px;
	color : #555;
	text-indent : 30px;
}
